@font-face {
  font-family: "helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaLight/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaLight/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaNeueCyr-Light.ttf") format("truetype"); }

@font-face {
  font-family: "helvetica";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/HelveticaBold/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaBold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaNeueCyr-Bold.ttf") format("truetype"); }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "helvetica", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
